# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Flask
instance/
.webassets-cache

# OS
.DS_Store

# IDE
.vscode/
.idea/

# NetGuard runtime data (your firewall rules)
/data/
*.tmp
.pytest_cache/
